.navBarContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    .profileButton{
        position: absolute;
        top: 5px;
        left: 0px;
        background-color: #ab61ff;
        color: #FFFFFF;
        font-size: 20px;
        border-radius: 0px 16px 16px 0px;
    }

    @media (max-width: 599px) {
        .navBar{
           display: flex;
           flex-direction: column;
           margin-top: 30px;
        }
        
    }

    .navBar{
        max-width: 1300px;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;



        .logo{
           // min-width: 100px;
        }
        
        
        .searchInput{
            width: 300px;
            height: 55px;
            padding-left: 20px;

            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
            border-radius: 12px;

            font-family: Noto Sans, 'Material Icons';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;

            color: #BDBDBD;
        }
    
        .button{

            width: 137px;
            height: 55px;

            border: none;
            color: #FFFFFF;
            background: #3DB46D;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            font-family: Noto Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;

        }
        .button::-webkit-input-placeholder {
            font-family: 'Material Icons Outlined'
        }

        .button:hover{
            cursor: pointer;
            opacity: 0.8;
        }
        
    }
}
