@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #3DB46D;
  text-decoration: underline;
}
a:hover{
  cursor: pointer;
  opacity: 0.8;
}

button{
  border: none;
  border-radius: 16px;
  height: 35px;
  min-width: 50px ;
}
button:hover{
  cursor: pointer;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}