@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #3DB46D;
  text-decoration: underline;
}
a:hover{
  cursor: pointer;
  opacity: 0.8;
}

button{
  background-color: #6c757d;
  border: none;
  border-radius: 16px;
  height: 40px;
  min-width: 50px ;
  font-family: Noto Sans, "Material Icons";
  color: #FFFF;
  font-weight: bold;
  padding: 10px;
}
button:hover{
  cursor: pointer;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}